@tailwind base;
@tailwind components;
@tailwind utilities;

.challenge-card {
}

.challenge-card > p,
.challenge-card li {
  margin: 5px 0;
}

.challenge-card li {
  list-style: inside;
}

.challenge-card li > p {
  display: inline;
  margin: 0;
}

.challenge-card code {
  background-color: rgba(255, 255, 0, 0.4);
}
